<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/users.css">

    <title>Document</title>
</head>

<body>
    <h1>This is all information about "{{Name}}": </h1>
    <div class="userInfo">
        <h2>Name: {{Name}}</h2>
        <h2>Email: {{Email}}</h2>
        <h2>Role: {{Role}}</h2>
        <h2>About "{{Name}}": {{About}}</h2>
        <h2>Favorite genre: {{Genre}}</h2>

    </div>
</body>

</html>